services:
# Base de datos PostgreSQL
  postgres:
    image: postgres
    container_name: sgh-postgres
    restart: "unless-stopped"
    # env_file:
    #   - .env.development
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - sgh-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

# Backend FastAPI
  backend:
    build:
      context: ./backend/fastapi
      dockerfile: Dockerfile.test
    container_name: sgh-backend
    restart: "no"
    # env_file:
    #   - .env.development
    ports:
      - "${BACKEND_PORT}:8000"
    environment:
      INITIAL_ADMIN_USERNAME: admin
      INITIAL_ADMIN_PASSWORD: Admin123456*
      INITIAL_ADMIN_EMAIL: admin@inf.uct.cl
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      DB_URL: ${DB_URL}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      JWT_ALGORITHM: ${JWT_ALGORITHM}
      JWT_EXPIRE_MINUTES: ${JWT_EXPIRE_MINUTES}
      PYTHONPATH: ${PYTHONPATH}
      PYTHONDONTWRITEBYTECODE: ${PYTHONDONTWRITEBYTECODE}
      PYTHONUNBUFFERED: ${PYTHONUNBUFFERED}
      NODE_ENV: ${NODE_ENV}
      CORS_ORIGINS: ${CORS_ORIGINS}
      test: "true"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - sgh-network
    healthcheck:
      # CAMBIAR: Usar GET en lugar de HEAD/spider
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --timeout=10 -O /dev/null http://localhost:8000/api/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

# Red personalizada para aislar los servicios
networks:
  sgh-network:
    driver: bridge
